<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crop.companion">

    <!-- Camera permissions for pivot   -->
    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <!-- File sys write to save picture to hardware   -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.crop.companion.ui.project_details.crop_timelapse.timelapseActivity"></activity>
        <activity android:name="com.crop.companion.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.crop.companion.ui.project_details.add_crop.head_count.MonthlyHeadCountActivity" />
        <activity
            android:name="com.crop.companion.ui.project_details.ProjectDetailsActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.crop.companion.ui.project_details.add_crop.AddCropActivity" />
        <activity android:name="com.crop.companion.ui.project_settings.ProjectSettingsActivity" />
        <activity android:name="com.crop.companion.ui.project_details.add_crop.crop_summary.CropSummaryActivity" />
        <activity android:name="com.crop.companion.ui.project_details.planting_schedule.PlantingScheduleActivity" />
        <activity android:name="com.crop.companion.ui.add_project.AddProjectActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.crop.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
    </application>

</manifest>